.jsx-1193297444 .icon {
    width: auto;
    margin: 0;
}

._tableCell_9okx2_22 {
    padding: 4px 56px 4px 24px;
}

@media (max-width: 1279.95px) {
    .makeStyles-cell-7 {
        padding: 4px 56px 4px 24px;
        }
}

@media (max-width: 959.95px) {
    .makeStyles-cell-15 {
        padding: 4px 56px 4px 24px;
    }
}