.textTitlle {
    color: var(--dark-label-color);
    padding: 16px 8px 16px 12px;
    font-size: 16px;
    font-weight: 500;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 1.16667em;
}

.btnStrip {
    margin-right: 21px !important;
}

.labelName {
    color: var(--dark-label-color);
}

.content {
    color: var(--error-message-color);
    font-size: 12px !important;
    line-height: 14px;
}

.fieldNormal {
    padding: 8px 0px 8px 0px;
    background-color: #fff;
    height: auto;
}

.fieldError {
    padding: 8px 8px 8px 12px;
    background-color: #FBEAE5;
    height: 100px;
}

.fieldWarning {
    padding: 8px 8px 8px 12px;
    background-color: rgb(255, 248, 225);
    height: 100px;
}

.fieldWarning .content {
    color: #ff9900;
}

.label {
    font-size: 13px !important;
}

@media screen and (max-width: 352px) {
    .label {
        font-size: 13px !important;
    }
}

/* groupField.module.css */

.groupField {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.horizontal {
  flex-direction: row;
  align-items: center;
}

.vertical {
  flex-direction: column;
  align-items: flex-start;
}

/* Ajusta os elementos filhos (label e campo) */
.labelWrapper,
.fieldWrapper {
  flex: 1;
  width: 100%;
}

/* Erros, avisos e normal */
.fieldError {
  border-left: 4px solid #dc3545; /* vermelho */
  padding-left: 0.75rem;
}

.fieldWarning {
  border-left: 4px solid #ffc107; /* amarelo */
  padding-left: 0.75rem;
}

.fieldNormal {
  border-left: 4px solid transparent;
  padding-left: 0.75rem;
}
